*{
    box-sizing:border-box;
}

body{
    margin:0;
    height:100vh;
    overflow:hidden;

    background:
    radial-gradient(
        circle at center,
        #b08a55 0%,
        #6b1b25 35%,
        #21090d 100%
    );

    font-family:
    "Noto Serif TC",
    serif;
}


/* 水墨紙張效果 */

body::before{

    content:"";

    position:absolute;

    inset:0;

    background:
    url("https://www.transparenttextures.com/patterns/paper.png");

    opacity:.25;

}



/* 主容器 */

.invite{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}



/* 喜帖 */

.envelope{

    width:85%;

    max-width:380px;

    padding:55px 25px;

    text-align:center;

    color:#fff5d6;


    background:

    linear-gradient(
        145deg,
        #a82032,
        #5c101a
    );


    border-radius:18px;


    border:

    2px solid rgba(224,190,100,.7);


    box-shadow:

    0 30px 80px rgba(0,0,0,.7);



    cursor:pointer;


    animation:

    float 4s infinite ease-in-out;


}



@keyframes float{

    0%,100%{

        transform:translateY(0);

    }


    50%{

        transform:translateY(-12px);

    }

}




/* 囍 */

.gold{

    font-size:95px;

    color:#e7c875;


    text-shadow:

    0 0 10px #fff0a8,

    0 0 30px #d9a441;


    animation:

    shine 3s infinite;

}



@keyframes shine{


    0%{

        filter:brightness(1);

    }


    50%{

        filter:brightness(1.6);

    }


    100%{

        filter:brightness(1);

    }

}




h1{

    font-size:32px;

    line-height:1.7;

}



h1 span{

    color:#f4d77d;

}



p{

    letter-spacing:4px;

}




/* 開啟後 */

.open .envelope{


    transform:

    scale(.2)

    rotateY(90deg);


    opacity:0;


}



.content{


    position:absolute;


    text-align:center;


    color:white;


    opacity:0;


    transition:

    1.5s;

}



.open .content{


    opacity:1;


}
